<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HipicaFacil</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HipicaFacil.styles.css" asp-append-version="true" />
    <style>
        /* Estilo para a barra lateral (sidebar) */
        #sidebar {
            background-color: #34495e; /* Cor de fundo */
            color: #fff; /* Cor do texto */
            width: 250px; /* Largura */
            position: fixed; /* Posição fixa */
            top: 0px; /* Alinhamento ao topo */
            left: 0; /* Alinhamento à esquerda */
            height: 100%; /* Altura total */
            overflow-y: auto; /* Rolagem vertical */
            padding-top: 20px; /* Preenchimento superior */
            z-index: 1000; /* Z-index */
        }

            #sidebar .sidebar-heading {
                padding: 20px; /* Preenchimento */
                text-align: center; /* Alinhamento do texto */
                font-size: 24px; /* Tamanho da fonte */
                color: #fff; /* Cor do texto */
            }

            #sidebar .nav-link {
                padding: 10px 20px; /* Preenchimento */
                text-align: left; /* Alinhamento do texto */
                color: #fff; /* Cor do texto */
            }

                #sidebar .nav-link:hover {
                    background-color: #2c3e50; /* Cor de fundo ao passar o mouse */
                }

            #sidebar .active {
                background-color: #2c3e50; /* Cor de fundo do item ativo */
            }

        /* Estilo para o conteúdo principal */
        #main-content {
            margin-left: 250px; /* Margem esquerda */
            padding: 20px; /* Preenchimento */
            margin-top: 0px; /* Margem superior */
            margin-bottom: 0px
            background-color: #ecf0f1; /* Cor de fundo */
            z-index: 0; /* Z-index */
            position: relative; /* Posição relativa */
        }
    </style>
</head>
<body>

    <!-- Barra lateral (sidebar) -->
    <nav id="sidebar">
        <div class="sidebar-heading">HipicaFacil</div>
        <ul class="list-unstyled components">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Cavalos">Cavalos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Insumos">Insumos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-page="/Privacy">Privacidade</a>
            </li>
        </ul>
    </nav>

    <!-- Conteúdo principal -->
    <div id="main-content">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
